<div class="jumbotron">
  <h1 class="display-4" style="padding-bottom: 0.25rem;">About the app</h1>
  <p>The stock market portfolio app has been created as part of the Udemy course "Build a Stock Market Web App With Node and JavaScript".
    It allows users to search stock ticker symbols by connecting to the IEX Cloud API for real-time and historical financial data in
    order to collect information about any stocks.</p>
  <a href="https://www.udemy.com/course/build-a-stock-market-web-app-with-node-and-javascript/" class="btn btn-outline-secondary my-2 my-sm-0" role="button" aria-pressed="true">Link to course</a>
</div>
